{% load embed_video_tags %}
{% load static %}
{% load i18n %}


<div class="site-section" id="schedule-section">
    <div class="container">
        <div class="owl-carousel nonloop-block-14 block-14" data-aos="fade">
            <div class="slide">
            </div>
        </div>

            {% for timetable in timetables %}

            <div class="row justify-content-center text-center mb-5 mt-5">
                <div class="col-md-8 section-heading">
                    <span class="subheading">{{timetable.name }}</span>
                    <p> {{timetable.about }}</p>

                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <ul class="nav days d-flex" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" id="monday-tab" data-toggle="tab"
                               href="#nav-monday-{{timetable.id}}" role="tab"
                               aria-controls="monday"
                               aria-selected="false">{% trans 'Понедельник' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tuesday-tab" data-toggle="tab"
                               href="#nav-tuesday-{{timetable.id}}" role="tab"
                               aria-controls="tuesday"
                               aria-selected="false">{% trans 'Вторник' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="wednesday-tab" data-toggle="tab"
                               href="#nav-wednesday-{{timetable.id}}" role="tab"
                               aria-controls="wednesday"
                               aria-selected="false">{% trans 'Среда' %}</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="thursday-tab" data-toggle="tab"
                               href="#nav-thursday-{{timetable.id}}" role="tab"
                               aria-controls="thursday"
                               aria-selected="false">{% trans 'Четверг' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="friday-tab" data-toggle="tab"
                               href="#nav-friday-{{timetable.id}}" role="tab"
                               aria-controls="friday"
                               aria-selected="false">{% trans 'Пятница' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="saturday-tab" data-toggle="tab"
                               href="#nav-saturday-{{timetable.id}}" role="tab"
                               aria-controls="saturday"
                               aria-selected="false">{% trans 'Суббота' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="sunday-tab" data-toggle="tab"
                               href="#nav-sunday-{{timetable.id}}" role="tab"
                               aria-controls="sunday"
                               aria-selected="true">{% trans 'Воскресенье' %}</a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="tab-content">

                <div class="tab-pane fade show active" id="nav-monday-{{timetable.id}}" role="tabpanel"
                     aria-labelledby="nav-monday-tab">

                    <div class="row justify-content-center">
                        {% for video in timetable.mo.all %}
                        <div class="col-8">
                            <div class="class-item align-items-center">
                                <a href="{{ video.url_rutube }}" target="_blank" class="class-item-thumbnail">
                                    <img src="/static/{{ video.image }}" alt="Image">
                                </a>
                                <div class="class-item-text">
                                    <h3 class="small">{{ video }}</h3>
                                     <p class="small">{{ video.times }} {% trans 'мин' %}</p>
                                    <span><a href="{{ video.url_rutube }}" target="_blank">
                                        <i class="fa-brands fa-resolving"></i>
                                    </a></span>
                                    <span><a href="{{ video.url_youtube }}" target="_blank">
                                        <i class="fa-brands fa-youtube"></i>
                                    </a></span>
                                    <span><a href="{{ video.url_vk }}" target="_blank">
                                        <i class="fa-brands fa-vk"></i>
                                    </a></span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>

                <div class="tab-pane fade" id="nav-tuesday-{{timetable.id}}" role="tabpanel"
                     aria-labelledby="nav-tuesday-tab">

                    <div class="row justify-content-center">
                        {% for video in timetable.to.all %}
                        <div class="col-8">
                            <div class="class-item align-items-center">
                                <a href="{{ video.url_rutube }}" target="_blank" class="class-item-thumbnail">
                                    <img src="/static/{{ video.image }}" alt="Image">
                                </a>
                                <div class="class-item-text">
                                    <h3 class="small">{{ video }}</h3>
                                     <p class="small">{{ video.times }} {% trans 'мин' %}</p>
                                    <span><a href="{{ video.url_rutube }}" target="_blank">
                                        <i class="fa-brands fa-resolving"></i>
                                    </a></span>
                                    <span><a href="{{ video.url_youtube }}" target="_blank">
                                        <i class="fa-brands fa-youtube"></i>
                                    </a></span>
                                    <span><a href="{{ video.url_vk }}" target="_blank">
                                        <i class="fa-brands fa-vk"></i>
                                    </a></span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>

                <div class="tab-pane fade" id="nav-wednesday-{{timetable.id}}" role="tabpanel"
                     aria-labelledby="nav-wednesday-tab">

                    <div class="row justify-content-center">
                        {% for video in timetable.we.all %}
                        <div class="col-8">
                            <div class="class-item align-items-center">
                                <a href="{{ video.url_rutube }}" target="_blank" class="class-item-thumbnail">
                                    <img src="/static/{{ video.image }}" alt="Image">
                                </a>
                                <div class="class-item-text">
                                    <h3 class="small">{{ video }}</h3>
                                     <p class="small">{{ video.times }} {% trans 'мин' %}</p>
                                    <span><a href="{{ video.url_rutube }}" target="_blank">
                                        <i class="fa-brands fa-resolving"></i>
                                    </a></span>
                                    <span><a href="{{ video.url_youtube }}" target="_blank">
                                        <i class="fa-brands fa-youtube"></i>
                                    </a></span>
                                    <span><a href="{{ video.url_vk }}" target="_blank">
                                        <i class="fa-brands fa-vk"></i>
                                    </a></span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>

                <div class="tab-pane fade" id="nav-thursday-{{timetable.id}}" role="tabpanel"
                     aria-labelledby="nav-thursday-tab">

                    <div class="row justify-content-center">
                        {% for video in timetable.th.all %}
                        <div class="col-8">
                            <div class="class-item align-items-center">
                                <a href="{{ video.url_rutube }}" target="_blank" class="class-item-thumbnail">
                                    <img src="/static/{{ video.image }}" alt="Image">
                                </a>
                                <div class="class-item-text">
                                    <h3 class="small">{{ video }}</h3>
                                     <p class="small">{{ video.times }} {% trans 'мин' %}</p>
                                    <span><a href="{{ video.url_rutube }}" target="_blank">
                                        <i class="fa-brands fa-resolving"></i>
                                    </a></span>
                                    <span><a href="{{ video.url_youtube }}" target="_blank">
                                        <i class="fa-brands fa-youtube"></i>
                                    </a></span>
                                    <span><a href="{{ video.url_vk }}" target="_blank">
                                        <i class="fa-brands fa-vk"></i>
                                    </a></span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>

                <div class="tab-pane fade" id="nav-friday-{{timetable.id}}" role="tabpanel"
                     aria-labelledby="nav-friday-tab">

                    <div class="row justify-content-center">
                        {% for video in timetable.fr.all %}
                        <div class="col-8">
                            <div class="class-item align-items-center">
                                <a href="{{ video.url_rutube }}" target="_blank" class="class-item-thumbnail">
                                    <img src="/static/{{ video.image }}" alt="Image">
                                </a>
                                <div class="class-item-text">
                                    <h3 class="small">{{ video }}</h3>
                                     <p class="small">{{ video.times }} {% trans 'мин' %}</p>
                                    <span><a href="{{ video.url_rutube }}" target="_blank">
                                        <i class="fa-brands fa-resolving"></i>
                                    </a></span>
                                    <span><a href="{{ video.url_youtube }}" target="_blank">
                                        <i class="fa-brands fa-youtube"></i>
                                    </a></span>
                                    <span><a href="{{ video.url_vk }}" target="_blank">
                                        <i class="fa-brands fa-vk"></i>
                                    </a></span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>

                <div class="tab-pane fade" id="nav-saturday-{{timetable.id}}" role="tabpanel"
                     aria-labelledby="nav-saturday-tab">

                    <div class="row justify-content-center">
                        {% for video in timetable.sa.all %}
                        <div class="col-8">
                            <div class="class-item align-items-center">
                                <a href="{{ video.url_rutube }}" target="_blank" class="class-item-thumbnail">
                                    <img src="/static/{{ video.image }}" alt="Image">
                                </a>
                                <div class="class-item-text">
                                    <h3 class="small">{{ video }}</h3>
                                     <p class="small">{{ video.times }} {% trans 'мин' %}</p>
                                    <span><a href="{{ video.url_rutube }}" target="_blank">
                                        <i class="fa-brands fa-resolving"></i>
                                    </a></span>
                                    <span><a href="{{ video.url_youtube }}" target="_blank">
                                        <i class="fa-brands fa-youtube"></i>
                                    </a></span>
                                    <span><a href="{{ video.url_vk }}" target="_blank">
                                        <i class="fa-brands fa-vk"></i>
                                    </a></span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>

                <div class="tab-pane fade" id="nav-sunday-{{timetable.id}}" role="tabpanel"
                     aria-labelledby="nav-sunday-tab">

                    <div class="row justify-content-center">
                        {% for video in timetable.su.all %}
                        <div class="col-8">
                            <div class="class-item align-items-center">
                                <a href="{{ video.url_rutube }}" target="_blank" class="class-item-thumbnail">
                                    <img src="/static/{{ video.image }}" alt="Image">
                                </a>
                                <div class="class-item-text">
                                    <h3 class="small">{{ video }}</h3>
                                     <p class="small">{{ video.times }} {% trans 'мин' %}</p>
                                    <span><a href="{{ video.url_rutube }}" target="_blank">
                                        <i class="fa-brands fa-resolving"></i>
                                    </a></span>
                                    <span><a href="{{ video.url_youtube }}" target="_blank">
                                        <i class="fa-brands fa-youtube"></i>
                                    </a></span>
                                    <span><a href="{{ video.url_vk }}" target="_blank">
                                        <i class="fa-brands fa-vk"></i>
                                    </a></span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                {% endfor %}
        </div>
    </div>
</div>

