{% extends 'base.html' %}
{% load embed_video_tags %}
{% load i18n %}
{% load static %}

{% block title_page %}
<h2 class="heading mb-3 mt-5">{% trans 'ПРОГРАММЫ ТРЕНИРОВОК ПОД ВАШИ ЦЕЛИ' %}</h2>
{% endblock title_page %}

{% block timetable_content %}

<div class="site-section" id="classes-section">
    <div class="container">

        {% if timetables %}

        <div class="row justify-content-center text-center mt-5">
            <div class="col-md-8 section-heading">
                <span class="subheading">{% trans 'HOME FITNESS. Simona Soloduha.' %}</span>
                <h2 class="heading mb-3">{% trans 'Графики (программы) тренировок' %}</h2>
                <p>{% trans 'Выбирай комфортный' %}</p>
            </div>
        </div>
        {% include "timetable/table_timetables.html" %}


        {% else %}
            <div class="row justify-content-center text-center mt-1">
                <div class="col-md-10 section-heading">
                    <h2>{% trans 'Для тех, кто ценит время' %}</h2>
                    <span class="subheading">{% trans 'Только эффективные тренировки для ваших целей!' %}</span>
                    <hr>
                    <span class="subheading">{% trans 'Все проще и приятнее, чем кажется' %}</span>
                </div>
            </div>

        {% include "sections/payment.html" %}

        {% endif %}
    </div>
</div>

{%endblock%}
