{% extends 'base.html' %}
{% load embed_video_tags %}
{% load i18n %}
{% load static %}


{% block title_page %}
<h2 class="heading mb-3 mt-5">{% trans 'ТРЕНИРОВКИ В СОЧИ' %}</h2>
{% endblock title_page %}

{% block timetable_content %}

<div class="site-section" id="classes-section">
    <div class="container">

        <div class="row justify-content-center text-center mt-5">
            <div class="col-md-8 section-heading">
                <span class="subheading">{% trans 'SOCHI FITNESS. Simona Soloduha.' %}</span>
                <h2 class="heading mb-3">{% trans 'ТРЕНИРОВКИ В СОЧИ' %}</h2>
            </div>
        </div>

        {% include "sochi/sochi_workout.html" %}

    </div>
</div>

{%endblock%}
