{% load static %}
{% load i18n %}

<div class="site-section">
    <div class="container">
        <div class="row justify-content-center text-center mb-5 mt-5" data-aos="fade-up">
            <div class="col-md-8  section-heading">
                <span class="subheading">{% trans 'ХОЧУ ФИГУРУ МЕЧТЫ И ЛЮБОВЬ К СПОРТУ НАВСЕГДА 😍' %}</span>
                <h2 class="heading mb-3">{% trans 'ПРЕИМУЩЕСТВА ТРЕНИРОВОК' %}</h2>
            </div>
        </div>


        <!-- Slider -->
        <div class="owl-carousel nonloop-block-14 block-14" data-aos="fade">
            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-fit"></span>
                    <div class="ftco-feature-1-text">
                        <img src="{% static 'video/icons/diamond.mp4' %}" alt="Image">
                        <h2>{% trans 'ЭКОНОМИЯ ДЕНЕГ 💰' %}</h2>
                        <p>{% trans 'Средняя цена занятий в зале - 12 000 руб.' %}</p>
                        <p>{% trans 'Цена занятий ОНЛАЙН - от 990 руб. А ещее новые кроссовки, топики и шортики за 45 000 руб 😁' %}</p>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-fit"></span>
                    <div class="ftco-feature-1-text">
                        <img src="{% static 'video/icons/balance.mp4' %}" alt="Image">
                        <h2>{% trans 'ЭКОНОМИЯ ВРЕМЕНИ ⌛' %}</h2>
                        <p>{% trans 'Дорога до спортзала и обратно – 90 мин.' %}</p>
                        <p>{% trans 'Дорога до коврика дома – 0 мин. Просто открой ссылку и начни тренировку 👌' %}</p>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-fit"></span>
                    <div class="ftco-feature-1-text">
                        <img src="{% static 'video/icons/squats.mp4' %}" alt="Image">
                        <h2>{% trans 'КРУТОЕ КОМЬЮНИТИ 🫶' %}</h2>
                        <p>{% trans 'Хватит скучать и грустить в одиночестве!' %}</p>
                        <p>{% trans 'Собираем команду девушек, которые не согласны на меньшее и готовы идти К МЕЧТЕ 💃' %}</p>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-fit"></span>
                    <div class="ftco-feature-1-text">
                        <img src="{% static 'video/icons/body-combat.mp4' %}" alt="Image">
                        <h2>{% trans 'ГРАФИК (ПРОГРАММА) ТРЕНИРОВОК 📆' %}</h2>
                        <p>{% trans 'Хватит тратить время на бесконечный поиск.' %}</p>
                        <p>{% trans 'Под каждую программу составлен график тренировок. Просто жми НАЧАТЬ 💃' %}</p>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-fit"></span>
                    <div class="ftco-feature-1-text">
                        <img src="{% static 'video/icons/waist.mp4' %}" alt="Image">
                        <h2>{% trans 'ТРЕНИРОВКИ БЕЗ БОЛТОВНИ 🙊' %}</h2>
                        <p>{% trans 'Хватит болтать, пора действовать 💃' %}</p>
                        <p>{% trans 'Если тренировка длится час – то мы тренируемся час и не тратим твое драгоценное время 🩷' %}</p>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-fit"></span>
                    <div class="ftco-feature-1-text">
                        <img src="{% static 'video/icons/busy.mp4' %}" alt="Image">
                        <h2>{% trans 'ТРЕНИРУЙСЯ В ЛЮБОМ МЕСТЕ 🏖' %}</h2>
                        <p>{% trans 'Путешествия сбивают с графиика?' %}</p>
                        <p>{% trans 'Тренируйся в любой точке мира! Дом, отель, парк, пляж - подойдет все! ✈️' %}</p>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-fit"></span>
                    <div class="ftco-feature-1-text">
                        <img src="{% static 'video/icons/dumbbell.mp4' %}" alt="Image">
                        <h2>{% trans 'ТРЕНИРУЙСЯ В ЛЮБОЕ ВРЕМЯ ⏰' %}</h2>
                        <p>{% trans 'Из-за тренировок отказываешся от встречь?' %}</p>
                        <p>{% trans 'Тренируйся хоть в 05:00, хоть в 23:00! Главное – ТРЕНИРУЙСЯ и СИЯЙ 💃' %}</p>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-fit"></span>
                    <div class="ftco-feature-1-text">
                        <img src="{% static 'video/icons/deadlift.mp4' %}" alt="Image">
                        <h2>{% trans 'РЕГУЛЯРНЫЕ ОБНОВЛЕНИЯ 🎁' %}</h2>
                        <p>{% trans 'Одинаковые тренировки перестают работать!' %}</p>
                        <p>{% trans 'Каждую неделю тебя будет ждать новая тренировка и новые результаты 🫶' %}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="bgimg" style="background-image: url(&quot;static/images/0013.png&quot;); background-position: 50% -58.9297px;" data-stellar-background-ratio="0.5">

      <div class="container">
          <div class="row align-items-center justify-content-center text-center">
              <div class="col-md-7">
                  <h2 class="">ВЫБРАТЬ ПРОГРАММУ ТРЕНИРОВОК</h2>
                  <p class="lead mx-auto desc mb-5">Если нет времени ждать и подбирать правильные полноценные
                      тренировки - просто выбери программу с гарантированными сроками достижения своих целей.</p>
                      <p class="text-center">
                          <a href="{% url 'timetable' %}" class="btn btn-outline-white py-3 px-5">
                            ВЫБРАТЬ ГРАФИК</a>
                      </p>
              </div>
          </div>
      </div>

</div>