{% load static %}


<div class="site-section">
    <div class="container">

        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-8 section-heading">
                <span class="subheading">Помни про комплексный подход</span>
                <h2 class="heading mb-3">Идеальное тело</h2>
                <p>Недостаточно только ХУДЕТЬ, только БЕГАТЬ, только КАЧАТЬСЯ или только листать instagram с красивыми
                    телами.
                    Важен комплексный подход и системность.</p>
            </div>
        </div>

        <!-- Slider -->
        <div class="owl-carousel nonloop-block-14 block-14" data-aos="fade">
            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-fit"></span>
                    <div class="ftco-feature-1-text">
                        <a href="single.html" class="class-item-thumbnail">
                            <img src="{% static 'images/icons/icon-workout.png' %}" alt="Image">
                        </a>
                        <h2>Workout / кардио</h2>
                        <p>Хочешь похудеть - влюбись в кардио тренировки! Минимум времени - максимум результата.</p>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-fit"></span>
                    <div class="ftco-feature-1-text">
                        <a href="single.html" class="class-item-thumbnail">
                            <img src="{% static 'images/icons/icon-weightlifting.png' %}" alt="Image">
                        </a>
                        <h2>Тренировки с весом</h2>
                        <p>Необходимы для создания прокачанных мышц и красивых рельефов на вашем теле.</p>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-gym-1"></span>
                    <div class="ftco-feature-1-text">
                        <a href="single.html" class="class-item-thumbnail">
                            <img src="{% static 'images/icons/free-relax.png' %}" alt="Image">
                        </a>
                        <h2>Тренировки на коврике</h2>
                        <p>Укрепят и подтянут твои мышцы корпуса, живота, пресса, бедер, поясницы,
                            позвоночника и, конечно, попы.</p>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-gym"></span>
                    <div class="ftco-feature-1-text">
                        <a href="single.html" class="class-item-thumbnail">
                            <img src="{% static 'images/icons/icon-boxing.png' %}" alt="Image">
                        </a>
                        <h2>Бокс</h2>
                        <p>Великолепное сочетание кардио и силовых тренировок с собственным весом (или с
                            маленькими гантелями) застявят работать все группы мышц.</p>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-vegetables"></span>
                    <div class="ftco-feature-1-text">
                        <a href="single.html" class="class-item-thumbnail">
                            <img src="{% static 'images/icons/icon-dance.png' %}" alt="Image">
                        </a>
                        <h2>Barre / Танцевальные</h2>
                        <p>Обеспечивают великолепное настроение от процесса и результата.</p>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-fruit-juice"></span>
                    <div class="ftco-feature-1-text">
                        <a href="single.html" class="class-item-thumbnail">
                            <img src="{% static 'images/icons/icon-bottle-of-water.png' %}" alt="Image">
                        </a>
                        <h2>Вода</h2>
                        <p>Хочешь есть - пей воду. ЕДИНСТВЕННЫЙ продукт, от которого действительно не поправишся.</p>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-stationary-bike"></span>
                    <div class="ftco-feature-1-text">
                        <a href="single.html" class="class-item-thumbnail">
                            <img src="{% static 'images/icons/icon-food.png' %}" alt="Image">
                        </a>
                        <h2>Еда</h2>
                        <p>Следи за калориями и все будет вкусно и красиво.</p>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-stationary-bike"></span>
                    <div class="ftco-feature-1-text">
                        <a href="single.html" class="class-item-thumbnail">
                            <img src="{% static 'images/icons/icon-ballet.png' %}" alt="Image">
                        </a>
                        <h2>Вдохновение</h2>
                        <p>Не забывай смотреть на изменения своего тела и радоваться своим достижениям и результатам!</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>