{% load static %}
{% load i18n %}
{% load subscription_tags %}

<footer class="footer-section" id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-dark">Simona Soloduha</h3>
                <p>{% trans 'Авторские спортивные тренировки' %}</p>
                <p>SimonaSoloduha@gmail.com</p>
                <p><small>Контактная информация: Адрес: Челюскинцев, д. 184А, Донецкая Народная Республика, р-н Донецк,
                Телефон: +79881803121,
                Реквизиты юридического лица
                ИНН:930900606398,
                ОГРНИП: 324930100074171</small></p>
                <a href="https://simonasoloduha.ru/static/files/dogovor_oferta.pdf">Публичная оферта</a>
                <a href="https://simonasoloduha.ru/static/files/dogovor_conf.pdf">Политика конфиденциальности</a>
                <div class="text-center w-50"><img class="img-thumbnail" src="/static/images/mir_logo.png" alt="MIR"></div>

            </div>

            <div class="col-md-3 ml-auto">
                <h3 class="text-dark">{% trans 'Контакты' %}</h3>
                <ul class="list-unstyled footer-links">
                    <li><a href="https://rutube.ru/channel/36765938/"><i class="fa-brands fa-resolving fa-beat-fade"></i>RUTUBE</a>
                    </li>
                    <li><a href="https://www.youtube.com/@SimonaSoloduha"><i class="fa-brands fa-youtube  fa-beat-fade"></i>YouTube</a>
                    </li>
                    <li><a href="https://vk.com/video/@simonasoloduhasport"><i class="fa-brands fa-vk  fa-beat-fade"></i>VK</a>
                    </li>
                    <li><a href="https://www.instagram.com/simona_soloduha/?hl=ru"><i class="fa-brands fa-instagram fa-beat-fade"></i>Instagram</a>
                    </li>
                    <li><a href="mailto: simonasoloduha@gmail.com"><i class="fa-solid fa-envelope fa-beat-fade"></i>Email</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                {% subscription_form %}

                <a href="https://pay.cloudtips.ru/p/96cbae9f" class="class-item-thumbnail" target="_blank">
                    <img class="icon-image" src="/static/images/icons/icon-donate_64.png" alt="Donate">
                </a>

            </div>

        </div>

        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class=" pt-5">
                    <p class="copyright">
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="icon-heart text-danger"
                                                                            aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>
