{% load static %}
{% load i18n %}
{% load subscription_tags %}

<footer class="footer-section" id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-dark">Simona Soloduha</h3>
                <p>{% trans 'Авторские спортивные тренировки' %}</p>
                <p>SimonaSoloduha@gmail.com</p>
            </div>

            <div class="col-md-3 ml-auto">
                <h3 class="text-dark">{% trans 'Контакты' %}</h3>
                <ul class="list-unstyled footer-links">
                    <li><a href="https://rutube.ru/channel/36765938/"><i class="fa-brands fa-resolving"></i>Instagram</a>
                    </li>
                    <li><a href="https://www.youtube.com/@SimonaSoloduha"><i class="fa-brands fa-youtube"></i>YouTube</a>
                    </li>
                    <li><a href="https://vk.com/video/@simonasoloduhasport"><i class="fa-brands fa-vk"></i>Facebook</a>
                    </li>
                    <li><a href="mailto: simonasoloduha@gmail.com"><i class="fa-solid fa-envelope"></i>Email</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                {% subscription_form %}
            </div>

        </div>

        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class=" pt-5">
                    <p class="copyright">
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="icon-heart text-danger"
                                                                            aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>
