{% load static %}
{% load i18n %}

<div class="site-section">
    <div class="container">

        <div class="row justify-content-center text-center mb-5 mt-5">
            <div class="col-md-8 section-heading">
                <span class="subheading">{% trans 'ХОЧУ ТРЕНИРОВАТЬСЯ И БЫТЬ САМОЙ КРАСИВОЙ!' %}</span>
                <h2 class="heading mb-3">{% trans 'ОФОРМИТЬ ПОДПИСКУ' %}</h2>
                <p>{% trans 'Получи доступ к графику тренировок и сделай спорт частью своей жизни!' %}
                    {% trans 'Все проще и приятнее, чем кажется' %}</p>
            </div>
        </div>

        <!-- Slider -->
        <div class="owl-carousel nonloop-block-14 block-14" data-aos="fade">

            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-fit"></span>
                    <div class="ftco-feature-1-text">
                        <a href="{% url 'payment_subscription_fit_vid' %}" target="_blank" class="class-item-thumbnail">
                            <img src="{% static 'images/icons/like_bllue.png' %}" alt="Image">
                        </a>
                        <h2 class="heading mb-3 bg-rouse">{% trans '⭐️⭐️SUPER-STAR⭐️⭐️' %}</h2>
                        <h2>{% trans 'Супер-интенсив' %}</h2>
                        <h2>{% trans 'Похудение и рельефы' %}</h2>
                        <p>{% trans 'Тренировки по 60 и 30 минут 7 дней в неделю' %}</p>

                        <div class="row align-items-center">
                            <p class="col-md-8"><s>{% trans '1550 руб в месяц' %}</s></p>
                            <p class="col-md-4 sale-rouse">
                                {% trans '-55%' %}
                            </p>
                        </div>

                        <div class="row align-items-center">
                        <p class="col-md-8">{% trans '690 руб в месяц' %}</p>
                            <p class="col-md-4">
                            <a href="{% url 'payment_subscription_fit_vid' %}" target="_blank"
                               class="btn btn-outline-rouse">
                                {% trans 'КУПИТЬ' %}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-fit"></span>
                    <div class="ftco-feature-1-text">
                        <a href="{% url 'payment_subscription_fit_vid' %}" target="_blank" class="class-item-thumbnail">
                            <img src="{% static 'images/icons/gym.png' %}" alt="Image">
                        </a>

                        <h2 class="heading mb-3 bg-rouse">{% trans '⭐️ STAR ⭐️' %}</h2>
                        <h2>{% trans 'Стандарт' %}</h2>
                        <h2>{% trans 'Похудение и рельефы' %}</h2>
                        <p>{% trans 'Тренировки по 60 минут 3-4 дня в неделю' %}</p>

                        <div class="row align-items-center">
                            <p class="col-md-8"><s>{% trans '1990 руб в месяц' %}</s></p>
                            <p class="col-md-4 sale-rouse">
                                {% trans '-55%' %}
                            </p>
                        </div>

                        <div class="row align-items-center">
                        <p class="col-md-8">{% trans '890 руб в месяц' %}</p>
                            <p class="col-md-4">
                            <a href="{% url 'payment_subscription_fit_vid' %}" target="_blank"
                               class="btn btn-outline-rouse">
                                {% trans 'КУПИТЬ' %}</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-fit"></span>
                    <div class="ftco-feature-1-text">
                        <a href="{% url 'payment_subscription_fit_vid' %}" target="_blank" class="class-item-thumbnail">
                            <img src="{% static 'images/icons/like.png' %}" alt="Image">
                        </a>
                        <h2 class="heading mb-3 bg-rouse">{% trans '🥥 Секси рельефы 🥥' %}</h2>
                        <h2>{% trans 'Стандарт' %}</h2>
                        <h2>{% trans 'Создаем рельефы' %}</h2>
                        <p>{% trans 'Тренировки по 60 минут 3-4 дня в неделю' %}</p>
                        <div class="row align-items-center">
                            <p class="col-md-8"><s>{% trans '1550 руб в месяц' %}</s></p>
                            <p class="col-md-4 sale-rouse">
                                {% trans '-55%' %}
                            </p>
                        </div>

                        <div class="row align-items-center">
                        <p class="col-md-8">{% trans '690 руб в месяц' %}</p>
                            <p class="col-md-4">
                            <a href="{% url 'payment_subscription_fit_vid' %}" target="_blank"
                               class="btn btn-outline-rouse">
                                {% trans 'КУПИТЬ' %}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-gym-1"></span>
                    <div class="ftco-feature-1-text">
                        <a href="{% url 'payment_subscription_fit_vid' %}" target="_blank" class="class-item-thumbnail">
                            <img src="{% static 'images/icons/super.png' %}" alt="Image">
                        </a>
                        <h2 class="heading mb-3 bg-rouse">{% trans '💥 ХОЧУ ВСЕ И СРАЗУ! 💥' %}</h2>
                        <h2>{% trans 'Все включено' %}</h2>
                        <h2>{% trans 'Полный доступ' %}</h2>
                        <p>{% trans 'Премиум доступ ко всем программам' %}</p>
                        <div class="row align-items-center">
                            <p class="col-md-8"><s>{% trans '2100 руб в месяц' %}</s></p>
                            <p class="col-md-4 sale-rouse">
                                {% trans '-55%' %}
                            </p>
                        </div>

                        <div class="row align-items-center">
                        <p class="col-md-8">{% trans '940 руб в месяц' %}</p>
                            <p class="col-md-4">
                            <a href="https://t.me/c/1929601112/17" target="_blank"
                               class="btn btn-outline-rouse">
                                {% trans 'КУПИТЬ' %}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>