{% load static %}
{% load i18n %}

<div class="site-section">
    <div class="container">

        <div class="row justify-content-center text-center mb-5 mt-5">
            <div class="col-md-8 section-heading">
                <span class="subheading">{% trans 'ХОЧУ ТРЕНИРОВАТЬСЯ И БЫТЬ САМОЙ КРАСИВОЙ!' %}</span>
                <h2 class="heading mb-3">{% trans 'ОФОРМИТЬ ПОДПИСКУ' %}</h2>
                <p>{% trans 'Получи доступ к графику тренировок и сделай спорт частью своей жизни!' %}
                    {% trans 'Все проще и приятнее, чем кажется' %}</p>
            </div>
        </div>

        <!-- row -->
        <div class="row" data-aos="fade">

            {% for payment_subscription in payment_subscriptions %}

            <div class="col-md-6">
                <div class="ftco-feature-1 pay class-item">

                    <a href="{% url 'payment_subscription_fit_vid' %}" target="_blank" class="class-item-thumbnail">
                        <img src="{% static 'images/img_1_1.png' %}" alt="Image">
                    </a>
                    <h2 class="heading mb-3 mt-3">{{ payment_subscription.name }}</h2>
                    <p>{% trans 'Супер-интенсив' %}</p>
                    <p>{{ payment_subscription.target }}</p>
                    <p class="small">{{ payment_subscription.description }}</p>

                    <div class="row align-items-center">
                        <p class="col-md-6"><s>{{ payment_subscription.price_month }} {% trans ' руб в месяц' %}</s></p>
                        <p class="col-md-6 sale-elem">
                            {% trans '-55%' %}
                        </p>
                    </div>

                    <div class="row align-items-center">
                    <p class="col-md-6">{{ payment_subscription.price_month_sale }} {% trans ' руб в месяц' %}</p>
                        <p class="col-md-6">
                        <a href="{% url 'payment_subscription_fit_vid' %}" target="_blank"
                           class="btn btn-outline-blue1 py-3 px-5">
                            {% trans 'КУПИТЬ' %}</a>
                        </p>
                    </div>

                    <hr>

                    <div class="row align-items-center">
                        <p class="col-md-6"><s>{{ payment_subscription.price_year }} {% trans ' руб в год' %}</s></p>
                        <p class="col-md-6 sale-elem">
                            {% trans '-55%' %}
                        </p>
                    </div>

                    <div class="row align-items-center">
                    <p class="col-md-6">{{ payment_subscription.price_year_sale }} {% trans ' руб в год' %}</p>
                        <p class="col-md-6">
                        <a href="{% url 'payment_subscription_fit_vid' %}" target="_blank"
                           class="btn btn-outline-blue1 py-3 px-5">
                            {% trans 'КУПИТЬ' %}</a>
                        </p>
                    </div>

                </div>
            </div>

            {% endfor %}

        </div>

    </div>
</div>
