{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %} {% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/icons/love-letter.png' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

    <script src="https://kit.fontawesome.com/e9f014af2e.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Top.Mail.Ru counter -->
    <script type="text/javascript">
    var _tmr = window._tmr || (window._tmr = []);
    _tmr.push({id: "3617243", type: "pageView", start: (new Date()).getTime()});
    (function (d, w, id) {
      if (d.getElementById(id)) return;
      var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
      ts.src = "https://top-fwz1.mail.ru/js/code.js";
      var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
      if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
    })(document, window, "tmr-code");
    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(100149893, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/100149893" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <noscript><div><img src="https://top-fwz1.mail.ru/counter?id=3617243;js=na" style="position:absolute;left:-9999px;" alt="Top.Mail.Ru" /></div></noscript>
    <!-- /Top.Mail.Ru counter -->
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">
        {% block nav-bar %}
        <div class="container-fluid">
            <div class="d-flex align-items-center">
                <div class="site-logo">HOME FITNESS<span>.</span></div>
                <div class="site-logo">Simona Soloduha<span>.</span></div>
                <div class="ml-auto">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                            <a href="{% url 'index' %}" class="nav-link">{% trans 'Главная' %}</a>
                            <a href="{% url 'timetable_marathon' %}" class="nav-link">{% trans 'Марафон ⭐️' %}</a>
                            <a href="{% url 'timetable' %}" class="nav-link">{% trans 'Программы' %}</a>
                            <a href="{% url 'sochi_info' %}" class="nav-link">{% trans 'Сочи 🌊' %}</a>
                            <a href="{% url 'all' %}" class="nav-link">{% trans 'Бесплатно' %}</a>
                            {% if user.is_authenticated %}
                            <a href="{% url 'logout_fitness' %}" class="nav-link">{% trans 'Выход' %}</a>
                            {% else %}
                            <a href="{% url 'login_fitness' %}" class="nav-link">{% trans 'Вход' %}</a>
                            <a href="{% url 'register' %}" class="nav-link">{% trans 'Регистрация' %}</a>
                            {% endif %}
                        </ul>
                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li><a href="https://rutube.ru/channel/36765938/">
                                <i class="fa-brands fa-resolving fa-beat-fade"></i>
                            </a></li>
                            <li><a href="https://www.youtube.com/@SimonaSoloduha">
                                <i class="fa-brands fa-youtube fa-beat-fade"></i>
                            </a></li>
                            <li><a href="https://vk.com/video/@simonasoloduhasport">
                                <i class="fa-brands fa-vk fa-beat-fade"></i>
                            </a></li>
                            <li><a href="https://instagram.com/simona_soloduha?igshid=YmMyMTA2M2Y=">
                                <i class="fa-brands fa-instagram fa-beat-fade"></i>
                            </a></li>
                            <li><a href="https://pay.alfabank.ru/sc/JShWQgKCPbLGolvP" class="class-item-thumbnail" target="_blank">
                                <img class="icon-image" src="/static/images/icons/icon-donate_64.png" alt="Donate">
                            </a></li>
                        </ul>
                    </nav>
                    <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle float-right"><span
                            class="icon-menu h3"></span></a>
                </div>

            </div>
        </div>
        {% endblock nav-bar %}
    </header>

    {% block header-video %}

    <div class="bgimg" style="background-image: url(&quot;/static/images/0019.jpeg&quot;); background-position: 50% -58.9297px;" data-stellar-background-ratio="0.5">

          <div class="container">
              <div class="row align-items-center justify-content-center text-center">
                  <div class="col-md-7">
                      <h2 class="mb-2">Simona Soloduha</h2>
                      <p class="lead mx-auto desc mb-2">Каждый день ты будешь становиться лучше и именно это тебя не остановит!</p>
                          {% block title_page %}
                          {% endblock title_page %}
                  </div>
              </div>
          </div>
    </div>


<div class="schedule-wrap">
    <div class="d-md-flex align-items-center">
        <div class="hours mr-md-4 mb-4 mb-lg-0">
          <strong class="d-block">Попробовать бесплатно:</strong>
        </div>

        <div>
            <span><a href="https://www.youtube.com/@SimonaSoloduha" target="_blank">
                YouTube<i class="fa-brands fa-url-black fa-youtube fa-brands-hover-black"></i>
            </a></span>
            <span><a href="https://rutube.ru/channel/36765938/" target="_blank">
                Rutube<i class="fa-brands fa-url-black fa-resolving fa-brands-hover-black"></i>
            </a></span>
            <span><a href="https://vk.com/simonasoloduhasport" target="_blank">
                Vk<i class="fa-brands fa-url-black fa-vk fa-brands-hover-black"></i>
            </a></span>
        </div>
    </div>
</div>

<div class="sale" style="animation-duration: 6.01667s;">
    <div class="sale-text">
        <a href="{% url 'timetable' %}">Cкидка −50% до конца месяца</a>
    </div>
</div>

    {% endblock header-video %}

    {% block video_content %}
    {% endblock video_content %}

    {% block timetable_content %}
    {% endblock timetable_content %}

    {% block content %}
    {% endblock content %}


{% include "sections/footer.html" %}


</div>
<!-- .site-wrap -->

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>


<script src="{% static 'js/main.js' %}"></script>

</body>

</html>