{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %} {% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

    <script src="https://kit.fontawesome.com/e9f014af2e.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link href="{% static 'css/jquery.mb.YTPlayer.min.css' %}" media="all" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
        {% block nav-bar %}
        <div class="container-fluid">
            <div class="d-flex align-items-center">
                <div class="site-logo"><a href="index.html">Fitness home<span>.</span> </a></div>
                <div class="ml-auto">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                            <a href="{% url 'index' %}" class="nav-link">{% trans 'Главная' %}</a>
                            {% if user.is_authenticated %}
                            <a href="{% url 'all' %}" class="nav-link">{% trans 'Бесплатные тренеровки' %}</a>
                            <a href="#schedule-section" class="nav-link">{% trans 'График тренеровок' %}</a>
                            <a href="{% url 'logout_fitness' %}" class="nav-link">{% trans 'Выход' %}</a>
                            {% else %}
                            <a href="{% url 'login_fitness' %}" class="nav-link">{% trans 'Вход' %}</a>
                            <a href="{% url 'register' %}" class="nav-link">{% trans 'Регистрация' %}</a>
                            {% endif %}
                            <a href="#contact-section" class="nav-link">{% trans 'Контакты' %}</a>
                        </ul>
                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                                <a href="https://instagram.com/simona_soloduha?igshid=YmMyMTA2M2Y=">
                                    <i class="fa-brands fa-instagram fa-beat-fade" style="color: #ed719e;"></i>
                                </a>
                                <a href="https://www.youtube.com/@SimonaSoloduha">
                                    <i class="fa-brands fa-youtube fa-beat-fade" style="color: #ff6251;"></i>
                                </a>
                                <a href="https://www.facebook.com/simona.soloduha">
                                    <i class="fa-brands fa-facebook fa-beat-fade" style="color: #002e7a;"></i>
                                </a>
                        </ul>
                    </nav>
                    <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle float-right"><span
                            class="icon-menu h3"></span></a>
                </div>

            </div>
        </div>
        {% endblock nav-bar %}
    </header>

    {% block header-video %}

    <a id="bgndVideo" class="player"
       data-property="{videoURL:'https://www.youtube.com/watch?v=cEYQrO-N3ik',showYTLogo:false,
      showAnnotations: false, showControls: false, cc_load_policy: false, loop:100, ratio:'4/3', addRaster:true,
      containment:'#home-section',autoPlay:true, mute:true, startAt:0, stopAt: 11, opacity:1}">
    </a>
    <div class="intro-section" id="home-section" style="background-color: #ccc;">
        <div class="container">

            <div class="row align-items-center">
                <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                    {% if user.is_authenticated %}
                    <h1 class="mb-3">Simona Soloduha</h1>
                    <p class="lead mx-auto desc mb-5">{% trans 'Тренируйся в любой точке мира' %}</p>
                    <p class="text-center">
                        <a href="https://www.youtube.com/@SimonaSoloduha"
                           class="btn btn-outline-white py-3 px-5">
                            {% trans 'НАЧАТЬ' %}</a>
                    </p>
                    {% else %}
                    <h1 class="mb-3">{% trans 'Войди или зарегистрируйся чтобы получить доступ' %}</h1>
                    <p class="lead mx-auto desc mb-5">
                        {% trans 'Каждый день ты будешь становиться лучше и именно это тебя не остановит' %}
                    </p>
                    <p class="text-center">
                        <a href="{% url 'login_fitness' %}" class="btn btn-outline-white py-3 px-5">
                            {% trans 'ВОЙТИ' %}</a>
                    </p>
                    <p class="text-center">
                        <a href="{% url 'register' %}" class="btn btn-outline-white py-3 px-5">
                            {% trans 'РЕГИСТРАЦИЯ' %}</a>
                    </p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>


    {% endblock header-video %}

    {% block video_content %}
    {% endblock video_content %}

    {% block content %}

    {% endblock content %}


{% include "sections/footer.html" %}


</div>
<!-- .site-wrap -->

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<!--<script src="{% static 'js/popper.min.js' %}"></script>-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>


<script src="{% static 'js/main.js' %}"></script>

</body>

</html>