{% extends 'base.html' %}
{% load static %}

{% block title %}
Simona Soloduha &mdash; Website
{% endblock title %}

{% block content %}

{% if user.is_authenticated %}


{% include "sections/compleks.html" %}

<div class="intro-section" id="free-video" style="background-image: url('static/images/Solod.png');">

    <a id="bgndVideoFree" class="player"
       data-property="{videoURL:'https://www.youtube.com/watch?v=cEYQrO-N3ik',showYTLogo:false,
      showAnnotations: false, showControls: false, cc_load_policy: false, loop:100, ratio:'4/3', addRaster:true,
      containment:'#free-video', autoPlay:true, mute:true, startAt:0, stopAt: 11, opacity:1}">
    </a>

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                <h1 class="mb-3">Начни с бесплатных тренировок</h1>
                <p class="lead mx-auto desc mb-5">Каждый день ты будешь становиться лучше и именно это тебя не
                    остановит</p>
                <p class="text-center">
                    <a href="{% url 'all' %}" class="btn btn-outline-white py-3 px-5">НАЧАТЬ БЕСПЛАТНО</a>
                </p>
            </div>
        </div>
    </div>
</div>


{% include "sections/schedules.html" with timetables=timetables %}

{% include "sections/trainers.html" with trainers=trainers %}

{% endif %}

{% endblock content %}
