{% extends 'base.html' %}
{% load static %}

{% block title %}
Simona Soloduha &mdash; Website
{% endblock title %}

{% block content %}

{% include "sections/compleks.html" %}

{% include "sections/about_subscriptio.html" %}

{% include "sections/payment.html" %}

{% if user.is_authenticated %}

{% include "sections/schedules.html" with timetables=timetables %}

{% include "sections/trainers.html" with trainers=trainers %}

{% include "sections/payment.html" %}

{% endif %}

{% endblock content %}
