{% extends 'base.html' %}
{% load static %}

{% block title %}
Simona Soloduha &mdash; Website
{% endblock title %}

{% block content %}

{% include "sections/payment.html" %}

{% include "sections/compleks.html" %}

{% include "sections/about_subscriptio.html" %}

{% if user.is_authenticated %}

<div class="intro-section" id="free-video" style="background-image: url('static/images/Solod.png');">

    <div class="container">
        <video autoplay muted loop class="video-main" style="">
            <source src="/static/video/intro_solod.mp4" type="video/mp4">
        </video>
        <div class="row align-items-center">
            <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                <h1 class="mb-3">Начни с бесплатных тренировок</h1>
                <p class="lead mx-auto desc mb-5">Каждый день ты будешь становиться лучше и именно это тебя не
                    остановит</p>
                <p class="text-center">
                    <a href="{% url 'all' %}" target="_blank" class="btn btn-outline-white py-3 px-5">НАЧАТЬ БЕСПЛАТНО</a>
                </p>
            </div>
        </div>
    </div>
</div>


{% include "sections/schedules.html" with timetables=timetables %}

{% include "sections/trainers.html" with trainers=trainers %}

{% include "sections/payment.html" %}

{% endif %}

{% endblock content %}
